@import "tailwindcss";
@import "@nuxt/ui";

*{
     font-family: "Poppins", sans-serif;
}

.btn {
    height: 50px;
    padding: 0 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* 2. Wobble Animation */
.btn-wobble {
  background-color: #ffa801;
  color: #03032b;
}

.btn-wobble:hover {
  animation: wobble 0.8s;
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
}




.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #03032b;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffA801;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes shakes {
  0% { transform: translateX(0) scale(var(--scale, 1)); }
  25% { transform: translateX(-10px) scale(var(--scale, 1)); }
  50% { transform: translateX(10px) scale(var(--scale, 1)); }
  75% { transform: translateX(-10px) scale(var(--scale, 1)); }
  100% { transform: translateX(0) scale(var(--scale, 1)); }
}

.shake {
  animation: shakes 2s ease-in-out infinite;
  --scale: 1.08; /* Matches your v-motion scale */
}